body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
   background-image: url('../images/Batch52_Episode688_1127679.jpeg')
   
}
.text-white {
   font-weight: bold;
   width: 670px;
}
.grid {
    margin: 4px;
    border-collapse: collapse;
}

    .grid th, .grid td {
        border: 1px solid #C0C0C0;
        padding: 7px;
    }

.head {
    background-color: #E8E8E8;
    font-weight: bold;
    color: #FFF;
}

.alt {
    background-color: #E8E8E8;
    color: #000;
}
.field-validation-error {
    font-weight: bold;
    color: red;
    background-color: yellow;
}

.validation-summary-errors {
    border: 2px dashed red;
    color: red;
    background-color: yellow;
    font-weight: bold;
    margin: 12px;
}